.card {
  padding: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 2px;
  display: grid;
  gap: 0.5rem;
  grid-template:
    "colorA preview controllerA" 44px
    "colorB contrastRatio ." 44px
    / 1fr 2fr 0.5fr;
  align-items: center;
  .colorA {
    grid-area: colorA;
  }
  .colorB {
    grid-area: colorB;
  }

  .colorA,
  .colorB {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      height: 1.5rem;
      width: 1.5rem;
      border: 0.5px solid var(--black);
      border-radius: 2px;      
    }
    p {
      font-family: "Roboto Mono";
      text-transform: uppercase;
    }
  }
  .preview {
    grid-area: preview;
    border: 0.5px solid var(--black);
    border-radius: 2px;
    height: 40px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    p {
      text-align: center;
      font-size: 1.125rem;
      line-height: 39px;
      -webkit-transition: 0.4s;
      transition: 0.4s;      
    }
  }
  .contrastRatio {
    grid-area: contrastRatio;
    text-align: center;
    align-items: center;
  }

  .controllerA {
    grid-area: controllerA;
    background-color: var(--white);
    background-image: url(/refresh.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    border: 1px solid var(--black);
    border-radius: 2px;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
  

}
