button{
    background-color: var(--black);
    color:var(--white);
    font-weight: bold;
    width:328px;
    max-width: 100%;
    margin: 0 auto;
    height: 3rem;
    cursor: pointer;
    border-radius: 2px;
}