textarea{
    border: 1px solid var(--black);
    border-radius: 2px;
    width: 100%;
    font-family: "Roboto Mono";
    text-transform: uppercase;
    padding: 0.5rem;
    height: 7.5rem;
    resize: none;

    &::placeholder{
        color:var(--gray)
    }

    &:focus {
        outline: none;
    }
}