@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');


html,body{
  height: 100%;
  #root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

:root{
  font-family: "Roboto";

  --black: #000000;
  --darker-gray: #303030;
  --dark-gray: #5E5E5E;
  --gray: #919191;
  --light-gray: #C6C6C6;
  --white: #FFFFFF;
  --red: #FF0000;
  
  *{
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  span,
  ul,
  li,
  a {
    margin: 0;
    padding: 0;
  }

  h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  h2{
    font-size: 1.5rem;
  }

  p,label{
    font-size: 1rem;
  }

  
}